@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  scroll-behavior: smooth;

  font-size: 15px;

  &.dark {
    color-scheme: dark;
  }
}

* {
  @apply outline-black dark:outline-white
  selection:bg-gray-200 selection:text-black
  dark:selection:bg-gray-700 dark:selection:text-white;
}

body {
  @apply text-gray-800 dark:text-gray-300 bg-white dark:bg-gray-900 px-0 md:px-4 pt-4 pb-20 md:pt-8 md:pb-48 relative min-h-screen;
}

body,
html {
  overflow-x: hidden;
}

.brygada {
  font-family: 'Brygada 1918', serif;
}

.paragraph {
  @apply max-w-prose;

  line-height: 1.75;
  text-overflow: ellipsis;
  overflow-x: hidden;

  /* This is under assumption that `img` is full width image not just an icon. */
  /* I can think of a reorganization using CSS Grid that would also work on Firefox,
     but this seems sufficient for the time being. */
  &:has(img) {
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  & a {
    white-space: nowrap;
    max-width: var(--container-width);
  }
}
